<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link href='https://fonts.googleapis.com/css?family=Afacad' rel='stylesheet'>

    <style>
       * {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    position: relative; 
    font-family: 'Afacad';
    background-color:  #ecf7f0;
    line-height: 1.6;
  
  }
    /* css for navigation bar  */
    header {
      position: fixed;
      top: 0;
      left : 0;
      width: 100%;
      z-index: 1000;
      background-color: #0f5256;
      line-height: 1.5;
    }
    
    .navbar {
      display: flex;
      padding: 10px 0;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-between;
    }
    
    .navbar .hamburger-btn {
      display: none;
      color: #fff;
      cursor: pointer;
      font-size: 1.5rem;
    }
    
    .navbar .logo {
      gap: 10px;
      display: flex;
      align-items: center;
    
    }
    
    .navbar .logo img {
      width: 110px;
    
    }
    
    
    .navbar .links {
      display: flex;
      gap: 35px;
      list-style: none;
      align-items: center;
      
      
    }
    
    .navbar .close-btn {
     
      display: none;
     
    }
    
    .navbar .links a {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      transition: 0.1s ease;
      text-transform: capitalize;
     
    }
    .navbar .links a.active,
    .navbar .links a:hover {
      color: #69ba6b;
    }
    
    .navbar .login-btn {
      border: none;
      outline: none;
      background: white;
      color: #275360;
      font-size: 15px;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.15s ease;
    }
    
    .navbar .login-btn:hover {
      background-color: #69ba6b;
      color: white;
    }
    .profile-loginout-container {
      display: flex;      
      align-items: center; 
      gap: 10px;         
    }
    .profile-img {
      width: 22px;   
      height: 22px;
      object-fit: cover; 
      margin-top: 10px;
    }
   
    .logout-btn{
      border: none;
      outline: none;
      background: white;
      color: #275360;
      font-size: 15px;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.15s ease;
      text-decoration: none;
    }
    
    .logout-btn:hover{
      background-color: #ffefef; 
      color: #d9534f;
    }
    
    @media (max-width: 768px) {
      .navbar :is(.hamburger-btn, .close-btn) {
          display: block;
          font-size: 30px;
          color: white;
          margin-left: 20px;
      }
      .navbar .close-btn {
        position: absolute;
          left: 0; 
          top: 25px;
          display: block;
          color: #fff;
          cursor: pointer;
    }
      .navbar {
          padding: 15px 0;
      }
    
      .navbar .logo img {
        display: flex;
      width: 130px;
      margin-left: 40px;
      }
    
      .navbar .logo h2 {
          font-size: 1.4rem;
      }
    
      .navbar .links {
          position: fixed;
          top: 0;
          z-index: 10;
          left: -100%;
          display: block;
          height: 100vh;
          width: 100%;
          padding: 20px;
          padding-top: 60px;
          text-align: left;
          background: #0f5256;
          opacity: 0.9;
          color: white;
          transition: 0.2s ease;
      }
    
      .navbar .links.show-menu {
          left: 0;
      }
    
      .navbar .links a {
          display: inline-flex;
          margin: 10px 0;
          font-size: 25px;
          color: white;
      }
    
      .navbar .links a:hover {
          color: #09343c;
      }
    
      .navbar .login-btn {
          font-size: 0.9rem;
          padding: 7px 10px;
          margin-right: 10px;
      }
      .profile-loginout-container {
        margin-right: 10px;
      }
    }
    
  


  /* css for delivery */
  .delivery{
    margin-top: 80px;
  }
  .title p span{
    color: #48d84a;
  }
  .delivery-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            
        }
         .delivery-container .title h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
            text-transform: capitalize;
            /* font-size: 35px; */
            margin-top: 30px;
        }
        .delivery-container .title p{
            text-align: center;
            font-size: 20px;
        }
        .delivery-container .box-container{
           display: flex;
           justify-content: space-evenly;
           align-items: center;
        }
        .delivery-container .box-container .card-content{
            
            width: 400px;
            height: 200px;
            margin-top: 30px;
            background-image: url(./images/assest/delivery/delivery-img.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
        }
       
      
.card-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.card-content h4 {
    font-size: 25px;
    margin-left: 36px;
    margin-top: 15px;
    position: relative;
    z-index: 2;
    color: white;
}

.card-content .box {
    border: 0.5px solid #a7aaaa;
    width: 320px;
    margin-left: 36px;
    margin-top: 27px;
    position: relative; 
    z-index: 2; 
    color: white;
}
.card-content .box ul li{
    list-style-type: square;

}
/* css for order process */
.order-process{
    
    width: 920px;
    height: 220px;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px;
    background-image: url(./images/assest/delivery/delivery-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.order-process::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.order-process .order-content{
  
    width: 850px;
    margin-top: 31px;
    margin-left: 34px;
    border: 0.5px solid #a7aaaa;
    position: relative;
    z-index: 2;
}
.order-process .order-content h4,ol{
    margin-left: 36px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    color: white;
    list-style-type: none;
}
.order-process .order-content h4{
    font-size: 25px;
}

/* Media queries for delivery section */
@media (max-width: 991px) {
    .delivery-container .title h2 {
        font-size: 30px; 
    }

    .delivery-container .title p {
        font-size: 20px;
    }

    .delivery-container .box-container {
        flex-direction: column; 
        align-items: center;
    }

    .delivery-container .box-container .card-content {
        width: 100%; 
        margin-top: 30px;
        height: 150px; 
    }

    .card-content h4 {
        font-size: 20px; 
        margin-left: 0;
        margin-top: 10px; 
    }

    .card-content .box {
        width: 90%;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .delivery-container .title h2 {
        font-size: 25px; 
    }

    .delivery-container .title p {
        font-size: 18px; 
    }

    .delivery-container .box-container .card-content {
        width: 100%; 
    }

    .card-content h4 {
        font-size: 18px; 
        margin-top: 5px;
        margin-left: 15px; 
    }

    .card-content .box {
        width: 90%; 
        margin-top: 15px; 
        margin-left: 18px;
    }
}

/* Media queries for ordering process */
@media (max-width: 991px) {
    .order-process {
        width: 90%;
        height: auto;
        
    }

    .order-process::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .order-process .order-content {
        width: 90%;
        margin: 50px auto;
        /* padding: 20px; */
        border: 1px solid #a7aaaa;
        /* border-radius: 10px; */
        background-color: transparent;
    }

    .order-process .order-content h4 {
        font-size: 25px;
        margin-left: 5px;
        margin-top: 10px;
        color: white;
    }

    .order-process .order-content ol {
        margin-left: 0px;
        margin-top: 10px;
    }

    .order-process .order-content ol li {
        font-size: 18px;
        color: white;
    }
}

@media (max-width: 767px) {
  
    .order-process .order-content h4 {
        font-size: 25px;
        /* margin-left: 36px; */
        margin-top: 10px;
        color: white;
    }

    .order-process .order-content ol {
        /* margin-left: 36px; */
        margin-top: 10px;
    }

    .order-process .order-content ol li {
        font-size: 18px;
        color: white;
    }
}
/* css for FAQs */
.faqs{
    margin-bottom: 10px;
}
.faqs h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
.faq-item {
    margin: auto;
    width: 920px;
     
    border: 1px solid rgb(209, 204, 204); 
    border-radius: 5px; 
    overflow: hidden; 
    
    
}

.question {
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid gray; 
    transition: all 0.3s ease;
    color: black;
}
.question:hover{
    background-color: #0f5256;
    color: white;
}

.answer {
    display: none;
    padding: 10px;
    border-bottom: 1px solid rgb(209, 204, 204); 
    transition: all 0.3s ease;
}

.faq-item.active {
    margin-bottom: 40px;
}

.question.active {
    font-size: 20px;
    background-color: white; 
}
.question.active:hover{
    background-color: #0f5256;
}

.answer.active {
    display: block;
    font-size: 18px;
    background-color: #f5f0f0; 
}

@media (max-width: 991px) {
    .faq-item {
        width: 90%;
    }
    .faqs h3{
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .faq-item {
        width: 90%;
    }

    .faqs {
        font-size: 15px;
    }

    .question.active,
    .answer.active {
        background-size: 110%;
    }
}

        /* CSS for product registration form */
        .product-registration {
            margin-top: 50px;
            padding: 20px;
        }

        .registration-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .product-registration .title h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            text-transform: capitalize;
        }

        .product-registration .title p {
            text-align: center;
            font-size: 18px;
            margin-bottom: 30px;
            color: #666;
        }

        .product-registration .form-group {
            margin-bottom: 15px;
        }

        .product-registration .form-group label {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
            color: #333;
        }

        .product-registration .form-group input,
        .product-registration .form-group textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .product-registration .form-group textarea {
            height: 100px;
            resize: none;
        }

        .product-registration .form-group button {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            background-color: #0f5256;
            color: white;
            cursor: pointer;
        }

        .product-registration .form-group button:hover {
            background-color: #09343c;
        }

        /* Media queries for product registration form */
        @media (max-width: 767px) {
            .product-registration .title h2 {
                font-size: 22px;
            }

            .product-registration .title p {
                font-size: 16px;
            }

            .product-registration .form-group label,
            .product-registration .form-group input,
            .product-registration .form-group textarea,
            .product-registration .form-group button {
                font-size: 14px;
            }
        }
/* css for footer */
footer {
  position: relative;
  background-image: url(../images/assest/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 40px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px; 
  background: #0f5256;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.logo-text {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
 
 
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  color: #fff;
}

.footer-section h2::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  background: #fff;
  bottom: -5px;
  left: 0;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.contact span, .socials a {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.socials a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.socials a:hover {
  color: #d4d4d4;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
}

.footer-section.links ul a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-section.links ul a:hover {
  text-decoration: underline;
  color: #d4d4d4;
}

.contact-form .text-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form .btn {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: #0f5256;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition:  0.3s, color 0.3s;
}

.contact-form .btn:hover {
  background: #0f5256;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #0f5256;
  font-size: 18px;
 
 
 
}


/* Responsive Design */
@media (max-width: 768px) {
  footer{
    margin-top: 100px;
  }
  .footer-content {
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
  }

  .footer-section {
      padding: 10px;
      min-width: 100%;
  }
}

@media (max-width: 480px) {
  footer{
    margin-top: 100px;
  }
  .logo-text {
      font-size: 24px;
  }

  .footer-section h2 {
      font-size: 18px;
  }

  .footer-section p, .contact span, .socials a, .footer-section.links ul a {
      font-size: 14px;
  }

  .contact-form .text-input, .contact-form .btn {
      font-size: 14px;
      padding: 10px;
  }

 
}



    </style>
</head>
<body>
    <!-- header section -->
   
    <header>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="#" class="logo">
                <img src="../images/assest/vegiefy-logo.png" alt="logo">
               
            </a>
            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="/">home</a></li>
                <li><a href="/#about-us">about</a></li>
                <li><a href="/product">products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/delivery" class="active">delivery</a></li>
                <li><a href="/blog"  >blog</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
            <div class="profile-loginout-container">
              <% if (!req.user) {%>
                  <a href="/login"><button class="login-btn">LOG IN</button></a>
                  <%}else{ %>
                      <a class="profile-btn" href="/user/profile" style="text-decoration: none;">
                          <img src="./images/assest/profile-img.png" alt="User Profile" class="profile-img">
                        </a>
                      <h3><a class="logout-btn"  href="/user/logout" >Logout</a></h3>
                    <%}%>
                  </div>
        </nav>
    </header>
      <section class="delivery">
        <div class="delivery-container">
            <div class="title">
            <h2>Direct farm-to-table Delivery</h2>
            <p>Our <span>farm-to-table delivery</span> service offers a seamless experience, ensuring the utmost <span>freshness and convenience</span> for our 
                customers. Straight from our hydroponic farms, our produce is delivered directly to your <span>table</span>, guaranteeing the <span>highest quality and taste</span>. 
                Experience the difference with our farm-fresh offerings, delivered with <span>care</span> from our farms to your home</p>
        </div>
        <div class="box-container">
           
            
        <div class="card-content">
            <h4>Delivery Areas</h4>
            <div class="box">
              <ul>
                <li>Area 1</li>
                <li>Area 2</li>
                <li>Area 3</li>
              </ul>
            </div>
          </div>
       <div class="card-content">
            <h4>Delivery Schedule</h4>
            <div class="box">
            <ul>
                <li>Schedule: Monday to Friday</li>
                <li>Ordering Process: Place your order online by 12 PM for next-day delivery</li>
            </ul>
           </div>
          </div>
        
    </div>
</div>

<div class="order-process">
    <div class="order-content">
         <h4>Ordering process</h4>
         <ol>
            <li>Step 1: Go to our website and select the products you want to order.</li>
            <li>Step 2: Proceed to checkout and choose your delivery date and time.</li>
            <li>Step 3: Complete the payment process.</li>
            <li>Step 4: Sit back and relax while we prepare your order for delivery!</li>
          </ol>
    </div>
</div>

<div class="faqs" id="faq">
    <h3>FAQs</h3>
    <div class="faq-item">
        <h4 class="question">How do I place an order?</h4>
        <p class="answer">You can place an order on our website by selecting the items you want and proceeding to checkout.</p>
    </div>
    <div class="faq-item">
        <h4 class="question"> What should I do if there is an issue with my delivery?</h4>
        <p class="answer">If you encounter any issues with your delivery, please contact our customer support team immediately. 
            We will do our best to resolve the issue promptly.</p>
    </div>
    <div class="faq-item">
        <h4 class="question">What should I do if I'm not home during the delivery time?</h4>
        <p class="answer"> If you're not home during the delivery time, our delivery partner will attempt to leave the package in a safe place or with a neighbor. 
            You can also provide specific delivery instructions during checkout.</p>
    </div>
    <div class="faq-item">
        <h4 class="question">Can I change my delivery address after placing an order?</h4>
        <p class="answer">Unfortunately, we cannot change the delivery address once the order is placed. 
            Please ensure the correct address is provided at the time of ordering.</p>
    </div>
    <div class="faq-item">
        <h4 class="question">What are the delivery charges?</h4>
        <p class="answer"> Delivery charges vary based on your location and order size. 
            Please check the delivery information during checkout for details.</p>
    </div>
    
</div>
      </section>

      <!-- product registration form section -->

<!-- <section class="product-registration">
    <div class="registration-container">
        <div class="title">
            <h2>Product Registration Form</h2>
            <p>Please fill out the form below to register your product.</p>
        </div>
        <form action="submit_registration.php" method="post">
            <div class="form-group">
                <label for="product-name">Product Name:</label>
                <input type="text" id="product-name" name="product-name" required>
            </div>
           
            <div class="form-group">
                <label for="customer-name">Customer Name:</label>
                <input type="text" id="customer-name" name="customer-name" required>
            </div>
            <div class="form-group">
                <label for="customer-email">Customer Email:</label>
                <input type="email" id="customer-email" name="customer-email" required>
            </div>
            <div class="form-group">
                <label for="product-id">Mobile No.:</label>
                <input type="number" id="mobile-number" name="mobile-number" required>
            </div>
            <div class="form-group">
                <label for="purchase-date">Purchase Date:</label>
                <input type="date" id="purchase-date" name="purchase-date" required>
            </div>
            <div class="form-group">
                <label for="comments">Comments:</label>
                <textarea id="comments" name="comments"></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</section> -->


<!-- footer section -->
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2 class="logo-text">Vegiefy Organics Farming</h2>
            <p>Sustainable and fresh hydroponically grown produce delivered straight to your table.</p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp; +91-8698105221</span>
                <span><i class="fas fa-envelope"></i> &nbsp; support@vegiefy.com</span>
                <span><i class="fas fa-map-marker-alt"></i> &nbsp;  Chandrashekar Ward Gondia</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i>&nbsp; Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i>&nbsp; Twitter</a>
                <a href="#"><i class="fab fa-instagram"></i>&nbsp; Instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i>&nbsp; Linkedin</a>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <a href="/#about-us" ><li>About Us</li></a>
                <a href="/product"><li>Products</li></a>
                <a  href="/blog"><li>Blog/News</li></a>
                <a  href="/delivery"><li>Delivery</li></a>
                <a href="/contact" ><li>Contact Us</li></a>
                <a href="/delivery#faq"><li>FAQs</li></a>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h2>Contact Us</h2>
            <form action="index.html" method="post">
                <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
                <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
                <button type="submit" class="btn btn-big contact-btn">
                    <i class="fas fa-envelope"></i>
                    Send
                </button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; www.vegiefy.com
    </div>
</footer>
  


     <script>
            // js for navbar
const navbarMenu = document.querySelector(".navbar .links");
const hamburgerBtn = document.querySelector(".hamburger-btn");
const hideMenuBtn = navbarMenu.querySelector(".close-btn");
const showPopupBtn = document.querySelector(".login-btn");

// Show mobile menu
hamburgerBtn.addEventListener("click", () => {
    navbarMenu.classList.toggle("show-menu");
});

// Hide mobile menu
hideMenuBtn.addEventListener("click", () =>  hamburgerBtn.click());


        // js for FAQs

        document.addEventListener("DOMContentLoaded", function() {
    const questions = document.querySelectorAll(".question");

    questions.forEach(function(question) {
        question.addEventListener("click", function() {
            const answer = this.nextElementSibling;
            this.classList.toggle("active");
            answer.classList.toggle("active");
            this.parentNode.classList.toggle("active");
        });
    });
});


// js for footer section
document.addEventListener("DOMContentLoaded", function() {
   const btn = document.querySelector('.contact-btn');

   btn.addEventListener('click', function(e) {
       e.preventDefault();
       alert('Your message has been sent!');
   });
});

     </script>
</body>
</html>