<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link href='https://fonts.googleapis.com/css?family=Afacad' rel='stylesheet'>
    
    <style>
        * {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    position: relative; 
    font-family: 'Afacad';
    background-image: url(../images/assest/img1new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;

  }
  .blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  backdrop-filter: blur(5px);
  
}
  .form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 720px;
  background: black;
  border: 0.5px solid white;
  transform: translate(-50%, -70%);
  margin-top: 100px;
  box-shadow: 0 0 25px #0f5256;
  border-radius: 5px;
  
}
.form-popup .close-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
}
.form-popup .form-box {
  display: flex;
}
.form-box .form-details {
  width: 100%;
  color: white;
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
  border-right: none;

}
.login .form-details{

background: linear-gradient(-45deg,black,#0f5256,#87dce7);

}
.signup .form-details{
background: linear-gradient(-45deg,black,#0f5256,#87dce7);
}
.form-box h2 {
  text-align: center;
  margin-top: 10px;
  color: white;
 
}
.form-box h3 {
  text-align: center;
  margin-bottom: 29px;
  color: #fff;
  font-size: 25px;
}
.form-box .form-content {
  width: 100%;
  padding: 0 35px 35px 35px;
}
form .input-field {
  position: relative;
  height: 38px;
  width: 100%;
  margin-top: 20px;
}

form .input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: white;
}

.input-field input:focus {
  border: 1px solid  white;
  
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgb(216, 216, 216);
  pointer-events: none;
  transition: 0.2s ease;
  
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
  transform: translateY(-120%);
  color: white;
  font-size: 0.75rem;
}
.form-box a {
  color: #248388;
  text-decoration: none;
}
.form-box a:hover {
  text-decoration: underline;
}
form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
  color: white;
}
form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background:  #0f5256;
  transition: 0.2s ease;
}
form button:hover {
  background: #09343c;
}
.form-content .bottom-link {
  text-align: center;
  color: white;
}
.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
   background-color: #d4d4d4;
   margin: 36px 0;
}
.line::before{
    content: 'or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    color: #fff;
    padding: 0 20px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 5px;
}
 .media-options .google-img{
    
   height: 30px;
   width: 30px;
  
   object-fit: cover; 
}
a.google{
    border: 1px solid #221616;
}
@media (max-width: 760px) {
  .form-popup {
      width: 95%;
      margin-top: 150px;
  }

  .form-box .form-details {
      display: none;
  }

  .form-box .form-content {
      padding: 30px 20px;
  }
}
    </style>
</head>
<body>
    <div class="blur-bg-overlay"></div>

    <div class="form-popup">
        <a href="/"><span class="close-btn "><img src="../images/assest/arrow.png" alt="" width="20px" height="20px"></span></a>
        <div class="form-box login">
            <div class="form-details">
                <h2>Welcome Back</h2>
                <p>Please log in with your credentials to stay connected with our latest updates and offerings.</p>
            </div>
            <div class="form-content">
                <h2>LOGIN</h2>
                <form action="#">
                    <div class="input-field">
                        <input type="text" required>
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <a href="#" class="forgot-pass-link">Forgot password?</a>
                    <button type="submit">Log In</button>
                </form>
                <div class="bottom-link">
                    Don't have an account?
                    <a href="#" id="signup-link">Signup</a>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field-google">
                        <img src="../images/assest/Google_Icons-09-512.png" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
          
        </div>
        <div class="form-box signup">
            <div class="form-details">
                <h2>Create Account</h2>
                <p>To join our community, please register using your personal details.</p>
            </div>
            <div class="form-content">
                <h2>SIGNUP</h2>
                <form action="#">
                    <div class="input-field">
                        <input type="text" required>
                        <label>Enter your Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" required>
                        <label>Enter your email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" required>
                        <label>Create password</label>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" id="policy">
                        <label for="policy">
                            &nbsp; I agree the
                            <a href="#" class="option">Terms & Conditions</a>
                        </label>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
                <div class="bottom-link">
                    Already have an account? 
                    <a href="#" id="login-link">Login</a>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field-google">
                        <img src="../images/assest/Google_Icons-09-512.png" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

<script>
    const formPopup = document.querySelector(".form-popup");
    const signupLoginLink = document.querySelectorAll(".form-box .bottom-link a");

    // Show or hide signup form
signupLoginLink.forEach(link => {
    link.addEventListener("click", (e) => {
        e.preventDefault();
        formPopup.classList[link.id === 'signup-link' ? 'add' : 'remove']("show-signup");
        
    });
});
</script>
</body>
</html>